/* Variables */

:root {
  --null: "";
}

/* Borders (for troubleshooting) */

.wborder {
  border: 1px solid #fff;
  z-index: 999;
}

.bborder {
  border: 1px solid #000;
  z-index: 999;
}

/* Basic Page Elements */

* {
  box-sizing: border-box;
}

main, html, body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

body {
  background: #22000e;
}

/* Page Content */

nav {
  background: #efefef;
  margin-bottom: 0px;
}

main {
  margin-top: 0px;
  color: #22000e;
}

.wrapper {
  margin-top: 0px;
  background: #efefef;
  box-shadow:
    0 4px 5px 0 rgba(0,0,0,0.14),
    0 1px 10px 0 rgba(0,0,0,0.12),
    0 2px 4px -1px rgba(0,0,0,0.3);
}

.portfolio {
  display: flex;
  justify-content: space-evenly;
}














#socialIcons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}